
.centre-stage {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  width: 300px;
  height: 150px;
/*  background-color: blue; */
}

#img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 272px;
}

input {
  width:284px;
}

input:hover {
  box-shadow: 0px 0px 8px #D3D3D3;
}

.search-form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  width: 300px; 
  /* background-color: red; */
}

.text {
	border: inset 1px solid DargGrey;
	background-color: none;
}


.text:hover {
	border-top: 2px solid white; 
  box-shadow: 0px 0px 8px #D3D3D3;
}

.buttons{
  width:272px;
  margin-left: 5%;
  margin-right: 1%;
  display: inline;
}

.search:hover, 
  .lucky:hover {
  color: black;
  box-shadow: inset 0px 0px 0px 1px DarkGray;
}

.search, 
  .lucky {
  background-color: #F5F5F5;
  border-radius: 4px;
  border-width: 0px;
  font-size: 14px;
  font-weight: light;
  color: SlateGray;
  margin-top: 15px;
  width: auto;
  padding: 5px 10px;
  text-align: center;
}

span.a {
  display: inline-block;
  width: 27px;
  height: 10px;  
/*  background-color: yellow; */
}

/*.topnav {
  top: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: blue;
  height: 7%;
  left: 0;
  right: 0;
} */

.about,
  .store, .gmail, .images, .gauffre, .account {
  text-align: center;
/*  background-color: LightBlue; */
  width: 100px;
  display: inline-block;
	font-size: 11px;
	color: black;
  margin-top: 5px;
  position: absolute;
	text-decoration: none;
	font-family: arial;
}

.about {
	left: 0;
}

.store {
	left: 50;
}

.gmail {
	right:75px;
	top: 6px;
}

.images {
	right:45px;
	top: 6px;
}

.gauffre {
	right: 70px;
	width: 30px;
	height: 30px;	
	border-radius: 20px;
	border: none;
}

.account {
	right: 20px;
	width: 30px;
	height: 30px;	
	border-radius: 20px;
	border: 1px solid black;
}
